<section class="container block block-domain">
  <header class="block__header">
    <h2 class="block__heading">Praise the Lord Oh my soul</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
      libero!
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter your domain name" />
    <a href="#" class="btn btn-accent">
      <svg class="icon icon-white">
        <use xlink:href="images/sprite-demo.svg#search"></use>
      </svg>
      search</a
    >
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge-secondary">.com</span></li>
    <li>.org</li>
    <li>.co</li>
    <li>.in</li>
    <li>.xyz</li>
    <li>.pop</li>
  </ul>
</section>
