<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus atque ab
    dolor sequi quod perspiciatis quidem qui cumque asperiores ullam!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon-primary quote__line">
          <use xlink:href="images/sprite1.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Michael Raj</h3>
        <p class="media__company quote__company">MRDJ COMPANY</p>
      </div>
    </div>
  </footer>
</blockquote>
